* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #212121;
  display: flex;
  height: 100vh;
  width: 100vw;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.container {
  flex: auto;
  display: flex;
}

div.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
  background-image: url("images/Sagittarius-B2-MIRI-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 80px;
  background-color: #212121b1;
  padding: 25px;
}

#logo-text {
  font-size: 2.5rem;
  margin: 0;
}

img#logo-img {
  width: 6rem;
  height: 6rem;
}

p#bg-credits {
  width: 100%;
  padding: 5px;
  background-color: #212121bf;
  margin-bottom: 8px;
  text-align: center;
}

div.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

div.headings {
  margin: 30px;
}

h1 {
  margin-bottom: 20px;
}

h3#main-subheading {
  color: rgb(182, 161, 177);
}

div.form-section {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 100%;
  box-shadow: 2px 6px 10px rgb(136, 88, 143);
}

h3#form-heading {
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

div.input-group {
  display: flex;
  flex-direction: column;
  width: 240px;
}

label {
  font-size: 0.9rem;
  color: rgb(181, 181, 181);
  margin-bottom: 4px;
}

input {
  padding: 6px;
  background-color: #303030;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

input[type="password"]:invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
  box-shadow: 0px 5px 10px #9b53a5b5;
}

div.form-submission {
  margin: 30px;
}

button {
  padding: 10px 20px;
  background-color: #9c53a5;
  border: none;
  border-radius: 8px;
  color: white;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #9c53a5;
}
